/* Gray color variable */
html {
  --border-color: #838383;
}

/* App level flex to put iPod in centre of screen */
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* iPod Body containing screen and buttons */
.iPod-Body {
  background-color: #f2f3f4;
  box-shadow: 4px 4px 10px 6px #b3b6b7, 6px 6px 40px 6px #b3b6b7 inset;

  border-radius: 15px;
  height: 550px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* iPod screen with background image */
.ipod-Screen {
  height: 270px;
  margin: 10px;
  width: 375px;
  border: 4px solid var(--border-color);
  border-radius: 12px;

  background-image: url(./Images/BGimage.jpg);
  background-repeat: no-repeat;
  background-size: 375px 270px;
}

/* button flex to put MENU, enter ring, Play pause button each one under another  */
#iPod-buttons {
  background-color: white;

  height: 270px;
  width: 270px;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* MENU button styling */
.menu-button {
  margin-top: 15px;
  cursor: pointer;
}

/* iPod ring styling, containing all the buttons*/
.iPod-ring {
  cursor: pointer;
  background-color: #d0d3d4;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

/* This flex holds left forward, entre button, right forward  */
.centre-button {
  margin-top: 5px;
  display: flex;
}

/* left and right forward styling*/
.arrow {
  margin: 23px;
}
